#global{
    text-align:left;
    border:1px solid #de7820;
    background: #afefb9;
    width:950px;
    padding:20px;
    margin:100px auto;
}

form{
    font:100% "Source Code Pro Medium";
    min-width:900px;
    max-width:1000px;
    width:950px;
}

form fieldset{
    border-color: #0705bf;
    border-width:3px;
    margin:0;
}

legend {
    font-size:1.3em;
}


form label{
    width:450px;
    display: block;
    float: left;
    text-align: right;
    padding:2px;
}

table td{
    border:1px solid #de7820;
    background: #ff5140;
    /* for web colors visit http://en.wikipedia.org/wiki/Web_colors*/
}

#buttons{
    text-align: right;
}

/*#errors,li{*/
    /*color: red;*/
/*}*/

/*.error{*/
    /*color:red;*/
    /*font-size:9pt;*/
/*}*/